body {
  margin: 0 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
  color: orange;
}

h3 {
  margin: 0;
  color: white;
}
button {
  padding: 4px;
  background: white;
  border: none;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 50%;
}
.inputForm {
  border-radius: 8px;
  background: salmon;
}
.incompleteTodos {
  background: tomato;
  height: 100%;
  border-radius: 8px;
  min-height: 50px;
}
.incompleteTodosInProgress {
  background: sandybrown;
  min-height: 50px;
  border-radius: 8px;
  height: 100%;
}

option,
select {
  border-radius: 50%;
  border-radius: 8px;
  cursor: pointer;
  background: wheat;
  border: none;
}
.completeTodos {
  background: red;
  min-height: 50px;
  border-radius: 8px;
  height: 100%;
}
.incompleteTodos.display {
  display: none;
}
.incompleteTodosInProgress.display {
  display: none;
}
.completeTodos.display {
  display: none;
}
.allComplete {
  border-radius: 8px;
  background: mediumturquoise;
  width: 258px;
}
.allComplete > button {
  border-radius: 8px;
}
